.battle-info {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none
  }

  .battle-info:hover {
    transform: scale(1.01);
  }
  
  .battle-info h3 {
    text-align: center;
    color: #ff6b6b;
    font-size: 24px;
    margin-bottom: 15px;
  }

  @keyframes expand {
    from {
      max-height: 0;
      opacity: 0;
    }
  
    to {
      max-height: 1000px;
      /* Adjust based on content height */
      opacity: 1;
    }
  }
  
  @keyframes collapse {
    from {
      max-height: 500px;
      /* Same as above, must match content */
      opacity: 1;
    }
  
    to {
      max-height: 0;
      opacity: 0;
    }
  }

  .battle-list.expanded {
    animation: expand 0.3s forwards;
  }
  
  .battle-list.collapsed {
    animation: collapse 0.3s forwards;
    position: absolute;
  }
  
  .battle-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .battle-list td {
    padding: 10px;
    vertical-align: top;
  }
  
  .battle-list strong {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .battle-list ul {
    list-style: none;
    padding: 0;
  }
  
  .battle-item {
    display: flex;
    justify-content: left;
    padding: 5px 0 0 25%;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .battle-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  
  .element-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }