.location-info {
  margin: 20px 0;
}

.regions-grid {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  /* This will center the grid */
  max-width: 1000px;
  /* Optional: restrict the grid's width if needed */
  margin: 0 auto;
  /* Center the grid container itself */
}

@keyframes expand {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 1000px;
    /* Adjust based on content height */
    opacity: 1;
  }
}

@keyframes collapse {
  from {
    max-height: 500px;
    /* Same as above, must match content */
    opacity: 1;
  }

  to {
    max-height: 0;
    opacity: 0;
  }
}

.region-card {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.view-location-btn {
  margin: 8px 0 10px 0;
  font-size: 0.85rem;
  transition: all 0.2s ease-in-out;
  background-color: #007bff;
  color: white !important;
  border-color: #007bff;
  border-radius: 20px;
  padding: 5px 15px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.view-location-btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.dark-mode .view-location-btn {
  background-color: #375a7f;
  border-color: #375a7f;
}

.dark-mode .view-location-btn:hover {
  background-color: #2b4764;
  border-color: #243a53;
}

.region-card:hover {
  transform: scale(1.01);
}

.region-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.maps-list {
  padding: 10px;
  border-top: 0px solid #ccc;
  margin-top: 10px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.map-preview {
  margin-left: 10px;
  height: 130px;
  display: inline-block;
  overflow: visible;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.maps-list ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.maps-list li {
  transition: background-color 0.3s ease, color 0.3s ease;
  list-style-type: none;
  padding-bottom: 3%;
  padding-top: 3%;
  background-clip: padding-box;
}

.maps-list li:hover {
  background-color: #e0e0e0;
  color: #000;
  cursor: pointer;
}

.dark-mode .maps-list li:hover {
  text-shadow: none;
}

.maps-list.expanded {
  animation: expand 0.3s forwards;
}

.maps-list.collapsed {
  animation: collapse 0.3s forwards;
  position: absolute;
}

.region-text {
  padding-top: 15px;
}

.zoomed-map-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.zoomed-map-container {
  position: relative;
}

.zoomed-map-image {
  max-width: 90%;
  max-height: 90%;
  border: 5px solid white;
  border-radius: 8px;
}

.highlighted-map {
  background-color: #b3b3b3;
  border: 2px solid white;
  cursor: pointer;
}

.highlighted-map:hover {
  background-color: #ffc107;
}

.location-exception {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50px;
  max-width: 30%;
  padding-bottom: 20px;
  margin-inline: auto;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding-top: 1%;
  background-color: #eef6ff;
  border-left: 4px solid #3399ff;
  padding: 10px;
  margin: 10px 0;
  font-size: 0.9em;
  color: #333;
}

@media (max-width: 480px) {
  .location-exception {
    padding-bottom: 5px;
    padding-top: 5px;
    max-width: 80%;
  }
}

.quest-exception {
  background-color: #ffeecc;
  border-left: 4px solid #ffaa33;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 0.9em;
  border-radius: 4px;
  color: #333;
}

/* Ensure text remains visible in dark mode */
.dark-mode .quest-exception {
  background-color: #664400;
  border-left: 4px solid #ffaa33;
  color: #fff;
}